/* CCS GENERAL DE ELEMENTOS */
:root{
    --black:#161515;
    --pur:#8B83AF;
    --fontFamily: 200 14px "Space Grotesk", sans-serif;
    --BackgroundImg:url("../imagenes/background.svg");
}

*{
    margin:0px;
    padding:0px;
}
body{
    background-color: var(--black);
    color: white;
    font:  var(--fontFamily);
}
#inicio h2{
    color: var(--black);
}

h2{
    font-size:36px;
    line-height: 36px;
}

h3{
    color:#999;
    font-size:18px;
    font-weight:300;
}

nav{
    position: fixed;
    width: 100%;
    height: 55px;
    background-color: hsla(0,2%,8%,.6);
    /* Crea un efecto de transparencia porosa y borrosa */
    backdrop-filter: saturate(180%) blur(20px);
    /* border-bottom:  1px solid white; */
    padding-top: 10px;
    text-align: center;
}
/* esta forma de nav ul es para hablarle de manera espeficica que afecte a tal etiqueta que tenga tal otra etiqueta */
nav ul{
    display: inline-block;
}

nav ul li{
    padding-top: 12px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 15px;
}

nav ul li a:hover{
    color: white;
    background-color: var(--pur);
    border-radius: 3px;
    padding: 5px;
}

section{
    padding: 10px 100px 10px 100px;
}

p{
    text-align: justify;
}

cite{
    font-weight:300;
}

i{
    font-size: 24px ;
}
/* 
Selecciona cualquier elemento que coincida con :link o :visited 
El que sea -moz o webkit solo es para compatibilidad de navegadores
*/
a{ 
    color: white;
    text-decoration: none;
    transition: all .25s ease-in-out;
}





a:-webkit-any-link{
    color: white;
    cursor: pointer;
}

a:hover{
    color: var(--pur);
}

ul{
    list-style: none;
}

li{
    float: left;
    margin-right: 5px;
}

button{
    border-radius: 10px;
    border: none;
    color: #16151500;
}

/* CSS IDs y Clase */

.hastag{
    color:var(--pur);
}

/* ----SOCIAL MEDIA--------------------------------------------------------------------------------------------------- */
/* ul */
#social-media{
    margin-top: 20PX;
    padding: 0;
    font-size: 2em;
}

/* a */
.social-media-icon{
    width: 30px;
    margin-right: 5px;
    float: left;
}

/* ------------------------------------------------------------------------------------------------------------------- */

#inicio{
    padding-top: 75px;
    background-image: var(--BackgroundImg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 280px;
}

#aboutme{
    display: grid;
    grid-template: 1fr 1fr / auto 1fr;
    align-items: center;
    justify-items: left;
}

#title_aboutme{
    grid-column: 2;
    grid-row: 1;
    background-color: var(--pur);
    width: fit-content;
    padding: 7px 10px 7px 25px;
    border-radius: 0 5em 5em 0px;
    transition: all .5s ease;
}
#title_aboutme:hover{
    background-image: var(--BackgroundImg);
    color: var(--pur);
    cursor: pointer;
    padding-left: 3em;
}

#image_aboutme{
    grid-column: 1;
    grid-row: 1/3;
    background-image: var(--BackgroundImg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3em;
}

#image_aboutme img{
    height: 250px;
}

#text_aboutme{
    grid-column:2;
    grid-row: 2;
    padding-left: 1em;
}

/* Diseño de las tarjetas del portfolio */
.filaportfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.card{
    width: 250px;
    background-color: #2b2a2a;
    border-radius: 15px;
}

.card img{
    width: 250px;
    border-radius: 15px 15px 0px 0px;
}

.card h3{
    color: var(--pur);
}

.card h4{
    margin: 0 5px 5px 0;
}

.card h3,.card h4,.card p,.card .masinfo{
    padding: 0 15px;
}

.card .masinfo{
    margin: 15px 0px 15px 0px;
    height: 26px;
}

.card .masinfo button{
    color: var(--black);
    background-color: var(--pur);
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
}

.card .sep{
    margin:0 0px 5px 0;
    border: 1px solid var(--pur);
}

.card button{
    margin-top: 5px;
    padding: 5px;
}

#logo{
    padding-top: 0px;
}
#logo a{
    font-size: 30px;
    border-radius: 5px;
    border: 3px solid #8b83af00;
    background-color: #8b83af00;
    transition: all  .2s ease-in;
}

#logo a:hover{
    transition: scale(1.2);
    background-color: var(--pur);
    border-radius: 60%;

}

#experiencia{
    background-color:white;
    color: var(--black);
}
#cualidades {
    border-top: 1px solid var(--pur);
}
