body {
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container_proyects{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    width: 70%;
    background-color:  rgb(224, 142, 183);
    border-radius: 5px;
    color: #eee;
    font-weight: 800;
}

.proyect{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    margin: 5px;
    background-color:  #eee;
    border-radius: 5px;
    color: #1d1d1d;
    padding: 10px;
    font-weight: 800;
}


.button{
    margin-left: 10px;
    background-color: #1d1d1d;
    color: rgb(224, 142, 183);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
}
