@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importar la fuente Cascadia Code */
@font-face {
  font-family: 'Cascadia Code';
  src: url('../public/fonts/CascadiaCode.woff2') format('woff2'),
       url('../public/fonts/CascadiaCodeItalic.woff2') format('woff2'),
       url('../public/fonts/CascadiaCodeNF.woff2') format('woff2'),
       url('../public/fonts/CascadiaCodeNFItalic.woff2') format('woff2'),
       url('../public/fonts/CascadiaCodePL.woff2') format('woff2'),
       url('../public/fonts/CascadiaCodePLItalic.woff2') format('woff2'),
       url('../public/fonts/CascadiaMono.woff2') format('woff2'),
       url('../public/fonts/CascadiaMonoItalic.woff2') format('woff2'),
       url('../public/fonts/CascadiaMonoNF.woff2') format('woff2'),
       url('../public/fonts/CascadiaMonoNFItalic.woff2') format('woff2'),
       url('../public/fonts/CascadiaMonoPL.woff2') format('woff2'),
       url('../public/fonts/CascadiaMonoPLItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Cascadia Code', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Cascadia Code', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fade-out {
  position: relative;
  display: inline-block;
  max-width: 100%;
}

.fade-out::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px; /* Ajusta este valor según lo necesites */
  background: linear-gradient(to left, #FEF3E2, rgba(255,255,255,0));
}

/* Clase para fijar el ancho de la fecha */
.fixed-width {
  min-width: 5.9rem; /* Ajusta el valor según sea necesario */
  text-align: right;
  white-space: nowrap;
}
